* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  margin-left: 80px;
}

.navbar-title {
  color: rgb(25, 173, 223);
}

.link {
  margin: 10px;
  text-decoration: none;
  color: rgb(5, 4, 4);
  font-size: 18px;
  font-weight: 700;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.status-btn {
  padding: 10px;
  background-color: rgb(25, 173, 223);
  border-radius: 10px;
  border: none;
  margin: 1rem auto;
  cursor: pointer;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 70vh;
}

.new-book-title {
  margin-left: 11px;
}

input {
  padding: 5px;
  width: 500px;
  margin: 10px;
}

.book-btn {
  padding: 7px;
  width: 150px;
  background-color: rgb(25, 173, 223);
  color: white;
  border: none;
  cursor: pointer;
}
